/* modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .modal-container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    height: 80%;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .scrollable-modal-content {
    max-height: 100%; /* Adjust the height as needed */
    overflow-y: auto;
  }
  /* AllUser_Modal_View.css */
  /* AllUser_Modal_View.css */
/* AllUser_Modal_View.css */
/* AllUser_Modal_View.css */
.video-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  /* background-color: aqua; */
}

.video-card {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

.video-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.video-thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 42%; /* Adjust the padding-bottom to control the video size */
  position: relative;
  background-color: #f4f4f4;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-description {
  padding: 10px;
  text-align: center;
}
.close-button {
  background-color: #ff0000; /* Background color */
  color: #fff; /* Text color */
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  /* Add more styles as needed */
}

.close-button:hover {
  background-color: #dd0000; /* Change color on hover */
}
.loader {
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-top: 4px solid #850606; /* Blue color for the loader */
  border-radius: 50%;
  animation: spin 2s linear infinite; /* Rotate the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
