

.city-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.city-table th,
.city-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.city-table th {
  background-color: #f2f2f2;
}

.city-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.city-table tbody tr:hover {
  background-color: #ddd;
} 

.Header{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}
/* Add some basic styling to the form and its inputs */
form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

form input[type="checkbox"] {
  margin-top: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
}



